@section scripts {
    @Scripts.Render("~/bundles/app")
}


<div class="page-header">
    <h1>PeopleService</h1>
</div>

<div class="row">
    <!--PersonList-->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">People</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: people">
                    <li>
                        <strong><span data-bind="text: LName"></span>, <span data-bind="text: FName"></span></strong>
                        <small><a href="#" data-bind="click: $parent.getPersonDetail">Details</a></small>
                        <small><a href="#" data-bind="click: $parent.getPositionsDetail">Positions</a></small>
                        <small><a href="#">modify</a></small>
                        <small><a href="#" data-bind="click: $parent.deletePerson">delete</a></small>

                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <!--PersonDetail-->
    <!-- ko if:peopledetail() -->
    <div id="detaildiv" class="col-md-4">
        <div id="sd" class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title" id="detailheader">PersonDetail</h2>
            </div>
            <table class="table">
                <tr><td>E-mail</td><td data-bind="text: peopledetail().Email"></td></tr>
                <tr><td>Phone No</td><td data-bind="text: peopledetail().Phone"></td></tr>
            </table>
            <small><a href="#" data-bind="click: hideDetail">Hide table</a></small>
        </div>
    </div>

    <!-- /ko -->
</div>
<!--Show positions-->
<div class="row" data-bind="visible: showTable">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" class="col-lg-2">
                <h2 class="panel-title" id="positionsheader">Positions for Person</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Department</th>
                        <th>Description</th>
                        <th>Begun</th>
                        <th>Ended</th>
                        <th>Still Employed</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: positionsdetail">
                    <tr>
                        <td data-bind="text: Title"></td>
                        <td data-bind="text: Department"></td>
                        <td data-bind="text: Description"></td>
                        <td data-bind="text: startDate"></td>
                        <td data-bind="text: EndDate"></td>
                        <td data-bind="text: StillEmployed"></td>
                        <td><small><a href="#">modify</a> - <a href="#">delete</a></small></td>
                    </tr>
                </tbody>
            </table>
            <small><a href="#" data-bind="click: hideTable">Hide table</a></small>
        </div>
    </div>
</div>
<div id="positionmessage"></div>
<p>Modify and delete is not yet implemented</p>
<div class="row">
    <!--Add position-->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Position</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addPosition">
                    <div class="form-group">
                        <label for="inputPosition" class="col-sm-3 control-label">Person</label>
                        <div class="col-sm-9">
                            <select data-bind="options:people,
                                    optionsText: function(item) { return ko.unwrap(item.LName) + ', ' + ko.unwrap(item.FName); },
                                    value: newPosition.Person"></select>
                        </div>
                    </div>

                    <div class="form-group" data-bind="with: newPosition">
                        <label for="inputTitle" class="col-sm-3 control-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputTitle" data-bind="value:Title" />
                        </div>

                        <label for="inputDepartment" class="col-sm-3 control-label">Department</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputDepartment" data-bind="value:Department" />
                        </div>

                        <label for="inputDescription" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputDescription" data-bind="value:Description" />
                        </div>

                        <label for="inputStartDate" class="col-sm-3 control-label">Start Date</label>
                        <div class="col-sm-9">
                            <input type="date" step="any" class="form-control" id="inputStartDate" data-bind="value:startDate" />
                        </div>

                        <label for="inputEndDate" class="col-sm-3 control-label">End Date</label>
                        <div class="col-sm-9">
                            <input type="date" step="any" class="form-control" id="inputEndDate" data-bind="value:endDate" />
                        </div>

                        <label for="inputStillEmployed" class="col-sm-3 control-label">Still Employed</label>
                        <div class="col-sm-9">
                            <input type="checkbox" step="any" class="form-control" id="inputStillEmployed" data-bind="value:StillEmployed" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="alert" data-bind="visible: message"><p data-bind="text: message"></p></div>
    </div>
    <!--Add Person-->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Person</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addPerson">
                    <div class="form-group">
                        <div class="form-group" data-bind="with: newPerson">
                            <label for="inputFName" class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputFName" data-bind="value:FName" />
                            </div>

                            <label for="inputLName" class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputLName" data-bind="value:LName" />
                            </div>

                            <label for="inputEmail" class="col-sm-3 control-label">E-Mail</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="inputEmail" data-bind="value:Email" />
                            </div>

                            <label for="inputPhone" class="col-sm-3 control-label">Phone No</label>
                            <div class="col-sm-9">
                                <input type="text" step="any" class="form-control" id="inputPhone" data-bind="value:Phone" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="alert" data-bind="visible: message"><p data-bind="text: message"></p></div>
    </div>
</div>
